.cards-section {
  text-align: center;
  padding: 60px 20px;

  .cards-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #000;
}
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 80px 0;

  .card {
    position: relative;
    flex: 1 1 23%;
    max-width: 450px;
    height: 560px;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;


    img {
      width: 100%;
      height: 100%; 
      object-fit: cover;
      display: block;
    }

    h2 {
      position: absolute;
      bottom: 10px;
      left: 10px;
      margin: 0;
      color: #fff;
      font-size: 1.9rem;
      font-weight: bold;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
      z-index: 10;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  }

  @media (max-width: 1024px) {
    .card {
      flex: 1 1 45%;
      max-width: 45%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .card {
      flex: 1 1 90%;
      max-width: 90%;
    }
  }
}
