.header {
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.header-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 130px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 500;
}

.header-hamburguer {
  display: none; 
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

/*  RESPONSIVO - MOBILE */
@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .header-hamburguer {
    display: block;
  }
}

