html, body {
  overflow-x: hidden;
}

.banner-section {
  width: 100vw;
  height: 1000px;
  overflow: hidden;
  position: relative;
  margin-left: calc(50% - 50vw);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.34),
      rgba(0, 0, 0, 0)
    );

    pointer-events: none;
    z-index: 2;
  }
}

.banner-section {
  width: 100vw;
  height: 1000px;
  overflow: hidden;
  position: relative;
  margin-left: calc(50% - 50vw);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.34),
      rgba(0, 0, 0, 0)
    );

    pointer-events: none;
    z-index: 2;
  }
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

